body {
    margin: 0;
    padding: 0;
}
nav {
    padding: 1vh;
    background-color: rgb(14, 184, 251);
    height: 50px;
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    position: fixed;
}
nav img {
    height: 90%; 
}
.main-page1 {
    padding-top: 70px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.main-page2 {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.main {
    padding: 10px;
}
div img.main {
    height: 700px;
    padding: 0;
}
div img.side1 {
    height: 300px;
    align-self: flex-end;
}
div img.side2 {
    height: 300px;
    align-self: self-start;
}
ul{
    margin: 0;
    padding: 0;
}

.mid {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.mid img{
    height: 300px;
}
figure{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
a {
    font-family: Verdana;
}
b {
    font-size: 20px;
}


/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
          
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
          
.sidenav a:hover {
    color: #f1f1f1;
}
          
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
          
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}